/*=== Nav === */

/*=== form ===*/
.navbar-form {
    text-align: center;
    float: none !important;
    padding: 0 !important;
    margin-left: 0;
    margin-right: 0;
    border: 0;
}

/*=== User ===*/
nav .navbar-right {
    color: white;
    font-weight: 600;
    margin-top: 5px;
    margin-right: 2%;
    float: right;
}

nav ul .name {
    margin-top: 30px;
    margin-right: 20px;
}

nav .glyphicon-triangle-bottom {
    margin-top: 35px;
    font-size: 10px;
    margin-left: 10px;
}

nav .navbar-right li {
    float: left;
}

nav .navbar-nav li a {
    padding: 0;
    color: black;
}

nav .navbar-nav:hover {
    cursor: pointer;
}

nav .navbar-nav li a:hover {
    background: steelblue;
}

nav .glyphicon-user {
    font-size: 50px;
    color: white;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.navbar {
    background-color: steelblue;
    margin-bottom: 0 !important;
}

/*=== LeftNav ===*/

.main .leftNav {
    height: 100%;
    width: 100%;
    list-style: none;
    border-bottom: 0;
    font-size: 20px;
    padding-left: 0;
}

.main .leftNav a {
    text-decoration: none;
    color: black;
}

.main .leftNav li {
    border: 2px solid lightcoral;
    font-family: monospace;
    padding: 35px 5px;
    width: 100%;
}

.main .leftNav li:hover {
    background-color: lightcoral;
    color: white;
}

.main .leftNav .glyphicon {
    float: right;
    margin-top: 2px;
}

/*=== Details ===*/

.detail img {
    height: 100px;
    width: auto;
    margin-top: -70px;
}

.detail ul {
    display: inline-block;
    list-style: none;
    margin-left: 5%;
}

.detail ul button {
    background-color: gray;
    font-size: 10px;
    padding: 15px 35px;
    border: 0;
}

.detail ul button:hover,
.detail ul button:focus {
    background-color: gray;
}

.detail #hearts {
    margin-top: 15px;
    color: red;
}

.detail .glyphicon {
    font-size: 31px;
}

.detail h5 {
    /*height: 45px;*/
    padding: 15px 18px;
    font-size: 17px;
    margin-top: 15px;
    font-family: monospace;
}

.detail table {
    margin-top: 5%;
}

.detail table thead tr .headerOne {
    padding-right: 50px;
}

/*=== Responsiveness ===*/

@media only screen and (max-width: 992px) {
    .main .leftNav {
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    .main .leftNav {
        width: 100%;
    }

    .container-fluid {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width: 340px) {
    .detail img {
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 80px;
    }
}