<ul class="leftNav">

	<form class="navbar-form navbar-left">
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon search"><span class="glyphicon glyphicon-search"></span></div>
				<input type="text" class="form-control" placeholder="Search">
				<div class="input-group-addon remove"><span class="glyphicon glyphicon-remove"></span></div>
			</div>
		</div>
	</form>

	<a href="#!/person/{{$index}}" ng-repeat="person in info"><li>{{ person.name }} <span class="glyphicon glyphicon-triangle-right"></span></li></a>
</ul>